body {
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.gallery__info {
    float: left;
    width: 30%;
    height: 400px;
    background-color: gray;
    color: black;
    padding: 2rem 2rem;
    box-sizing: border-box;
}

.gallery__main-slide {
    float: left;
    width: 70%;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    background-color: slategray;
    color: white;
    font-weight: bold;
}

.gallery__slides {
    float: left;
    width: 100%;
    padding: 1rem 0rem;
    background-color: deepskyblue;
}

.slides {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.slides__slide {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    background: lightyellow;
}